html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

button {
  margin: 50px;
  font-size: 20px;
  background-color: red;
  animation: vibrate 0.1s infinite alternate;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  animation: none;
  background-color: green;
}

@keyframes vibrate {
  0% { transform: translateX(-2px); }
  100% { transform: translateX(2px); }
}

a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  height: 2px;
  background: green;
  width: 0;
  bottom: 0;
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease;
}

a:hover {
  color: green;
}

a:hover::after {
  width: 100%;
  left: 0;
}


.newton_cradle {
  position: absolute; 
  top: 150px; 
  right: 50px;
  width: 266px; 
  height: 250px; 
  padding: 0 100px 0 100px;
  border: 2px solid black;
  border-radius: 10px; /* Закругленные углы */
}

.ball {
  z-index: -1; 
  float: left; 
  position: relative;
  margin-top: 100px; 
  width: 50px; 
  height: 50px;
  background: lightgrey; 
  border: 2px solid black;
  border-radius: 100%; 
  transform-origin: 50% -100px;
}

.ball::after {
  content: ''; 
  display: block; 
  position: absolute;
  top: -103px; 
  left: 24px; 
  height: 103px; 
  width: 1px; 
  background: black;
}

.ball:nth-child(1) {animation: ball1 0.5s infinite alternate 0.5s ease-out;}
.ball:nth-child(5) {animation: ball5 0.5s infinite alternate ease-out;}

@keyframes ball1 {0%,50% {transform: rotate(0);} 100% {transform: rotate(45deg);}}
@keyframes ball5 {0%,50% {transform: rotate(0);} 100% {transform: rotate(-45deg);}}






#falling_ball {
  display: inline-block;
  width: 120px;
  height: 210px;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  left: 50px;
  bottom: 50px;
}

#ground {
 position: absolute;
 width: 120px;
 height: 15px;
 background-color: #81a276;
 border-radius: 0 0 9px 9px;
 left: 0px;
 bottom: 0px;
}


#fall-ball {
 position: absolute;
 width: 40px;
 height: 40px;
 border-radius: 40px;
 background: lightgrey;
 border: 2px solid black;
 left: 40px;
 bottom: 160px; /* Начальная позиция выше платформы */
 animation: bounce 2s;
 animation-fill-mode: forwards;
}


/* Анимация отскоков */
@keyframes bounce {
 0% {
   bottom: 160px; /* Начальная высота */
   animation-timing-function: ease-in;
 }
 18% {
   bottom: 15px;
   animation-timing-function: ease-out;
 }
 38% {
   bottom: 120px; /* Первый отскок */
   animation-timing-function: ease-in;
 }
 60% {
   bottom: 15px;
   animation-timing-function: ease-out;
 }
 75% {
   bottom: 80px; /* Второй отскок */
   animation-timing-function: ease-in;
 }
 86% {
   bottom: 15px;
   animation-timing-function: ease-out;
 }
 92% {
   bottom: 40px; /* Третий отскок */
   animation-timing-function: ease-in;
 }
 100% {
   bottom: 15px;
   animation-timing-function: ease-out;
 }
}
